<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Landing page Asp.net</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style>
        a.my-class {
            color: #000000;
            text-decoration: none;
        }

        .my-class {
            color: #000000;
            text-decoration: none;
        }

        .btn1 {
            background-color: #ff8138 !important;
        }

        #logo {
            margin-left: 3rem;
            margin-top: 1rem;
            background-image: url('https://archivos.territorio.la/archivos/clases/1045pxnSenanColombianlogonsvgnnn825f343e0c268bannn___795ff91afcb9ca2___.png');
            width: 90%;
            height: 90%;
            background-position: center;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div>
        <div class="col-12" style="background-color:#31b333; height:100px;" id="nav">
            <div class="container row" style="padding-top: 2px;">
                <div class="col-2">
                    <div id="logo" style="width:70px; height:70px"></div>
                </div>
                <div class="col-2" style="margin-top:2rem">
                    <button type="button" class="btn btn-success btn1"> @Html.ActionLink("Registrar", "Create", null, new { @class = "my-class" })</button>

                </div>
                <div class="col-2" style="margin-top:2rem">
                    <button type="button" class="btn btn-success btn1">@Html.ActionLink("Listado", "List", null, new { @class = "my-class" })</button>
                </div>
                <div class="col-2" style="margin-top:2rem">
                    <button type="button" class="btn btn-success btn1">@Html.ActionLink("Buscar", "Vistas3", null, new { @class = "my-class" })</button>
                </div>
                <div class="col-2"></div>
                <div class="col-1" style="margin-top:2rem"> <h2>SIENA</h2></div>

            </div>
        </div>
    </div>
    @RenderBody()
    </div>
    <br />
    <div class="row" style="background-color:#31b333; height:50px; position:fixed; width:102%; bottom: 0; text-align:center">
        <div class="col-4"></div>
        <div class="col-4">
            <footer style="margin-top:1rem;">
                <h6> SoftLeague &copy;Todos los derechos reservados | V.1.1.111</h6>
            </footer>
        </div>
        <div class="col-4"></div>
    </div>
</body>
</html>
